@import url('//fonts.googleapis.com/css?family=Lobster|Cabin:400,700');
.header-panel {
  position: relative;
  overflow: hidden;
  }
.header-panel h1 {
  position: relative;
  padding: 20px;
  font-family: 'Lobster', cursive;
  color: #4b36c7;
	font-size: 45px;
	}
.header-panel img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0.2;
  }

.js-irs-0 .irs-single, .js-irs-0 .irs-bar-edge, .js-irs-0 .irs-bar {
                                                    background: #4b36c7;
                                                    border-top: 1px solid #4b36c7 ;
                                                    border-bottom: 1px solid #4b36c7 ;}

.irs-from, .irs-to, .irs-single { background: #4b36c7 }

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #4B36C7;
    transition: width 0.6s ease;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #4b36c7;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #4b36c7;
}
